<button class="p-button">Vender agora</button>

<h1>Titulo principal</h1>

<h2 tabindex="0">Titulo secundario</h2>

<span>tu vai ver esse aqui primeiro</span>

<div>
  tu vai ver esse texto? kkkkkkkkk
  <div class="p-button">ganhar R$500</div>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rem sed
  nostrum recusandae fugit. Animi consequuntur odit quaerat ullam doloremque quo
  laborum repellat, expedita tempore corrupti hic ipsam error voluptatibus?
</p>

<p></p>

<article>
  Em um liquidificador adicione os ovos, o chocolate em pó, a manteiga, a
  farinha de trigo, o açúcar e o leite, depois bata por 5 minutos.
</article>

<article>
  <h1 tabindex="0">A melhor receita de bolo de chocolate</h1>
  <p tabindex="0">
    Um bolo de chocolate fofinho, rápido e simples de fazer junto com uma xícara
    de café às vezes é tudo que a gente precisa para curar onde dói em uma tarde
    chuvosa. Essa receita é prática e não precisa de batedeira, sendo feita no
    liquidificador. Para garantir que o bolo de chocolate cresça e fique macio
    como a gente gosta, é importante que a gente respeite o tempo de bater a
    massa no eletrodoméstico indicado na receita. Isso permite que as fibras da
    farinha criem a trama que segura as bolhas criadas pelo fermento e que
    garantem o crescimento do bolo. A calda de calda de chocolate cobre o bolo
    finalizando tudo e deixando ainda mais delicioso. Se você quiser completar,
    pode adicionar chocolate granulado ao topo para o bolo ficar bem
    "chocolatudo". Não esqueça de untar a forma para que o bolo saia por inteiro
    e depois de 40 minutos, você terá o melhor bolo de chocolate saindo do seu
    forno.
  </p>

  <label>
    Massa ovo 4 ovos chocolate em pó 4 colheres (sopa) de chocolate em pó
    manteiga 2 colheres (sopa) de manteiga farinha de trigo 3 xícaras (chá) de
    farinha de trigo açúcar 2 xícaras (chá) de açúcar fermento em pó químico 2
    colheres (sopa) de fermento leite 1 xícara (chá) de leite Calda manteiga 2
    colheres (sopa) de manteiga chocolate em pó 7 colheres (sopa) de chocolate
    em pó creme de leite 2 latas de creme de leite com soro açúcar 3 colheres
    (sopa) de açúcar
  </label>
</article>

<span tabindex="1">depois esse kkkkk</span>
<span tabindex="2">oiiii</span>

<div data-message="primeiro botao" tabindex="0" role="button">Click me!</div>
<div data-message="segundo botao" tabindex="0" role="button">Click me too!</div>
<div data-message="terceiro botao" tabindex="0" role="button">And me!</div>

<a href="https://minhaconta.getnet.com.br">Melhor site do mundo</a>

<div tabindex="0" aria-activedescendant="Id1">
  <span>title1</span>
  <ul>
    <li class="selected" id="Id1">item1</li>
    <li id="Id2">item2</li>
    <li id="Id3">item3</li>
  </ul>
</div>

<aside>
  <section>conteudo solto</section>
</aside>

<footer>
  <p>teste</p>
</footer>

<header>
  <div class="p-link">outro botão?</div>
</header>

<button (click)="reveal()">Revelar</button>

<p role="alert" *ngIf="showAlert">Alerta na página!</p>
